In [73]:
import pandas as pd
import numpy as np
import os

In [11]:
replies = pd.read_csv('/work/ptyagi/ClimateVisions/Tweet_Replies/Isaac_replies/replies_translated.csv')

In [12]:
replies.head()

,Unnamed: 0,id,conversation_id,created_at,text
0,1,1120457284268756992,1120240313484959744,2019-04-22T22:40:08.000Z,exactly breaking the law this is what those wo...
1,2,1120263796952567808,1120240313484959744,2019-04-22T09:51:17.000Z,what is your comment
2,3,1120261379427115010,1120240313484959744,2019-04-22T09:41:40.000Z,in the end these are untalented lobbyists whos...
3,4,1120260145362214912,1120240313484959744,2019-04-22T09:36:46.000Z,who is going to believe this organisations thi...
4,5,1120258615678525440,1120240313484959744,2019-04-22T09:30:42.000Z,and i did give both amnety and hws statements ...

In [14]:
replies['created_at'] = pd.to_datetime(replies['created_at'])

In [15]:
replies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3795245 entries, 0 to 3795244
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   id               int64
 2   conversation_id  int64
 3   created_at       datetime64[ns, UTC]
 4   text             object
dtypes: datetime64[ns, UTC](1), int64(3), object(1)
memory usage: 144.8+ MB

In [16]:
replies.head()

,Unnamed: 0,id,conversation_id,created_at,text
0,1,1120457284268756992,1120240313484959744,2019-04-22 22:40:08+00:00,exactly breaking the law this is what those wo...
1,2,1120263796952567808,1120240313484959744,2019-04-22 09:51:17+00:00,what is your comment
2,3,1120261379427115010,1120240313484959744,2019-04-22 09:41:40+00:00,in the end these are untalented lobbyists whos...
3,4,1120260145362214912,1120240313484959744,2019-04-22 09:36:46+00:00,who is going to believe this organisations thi...
4,5,1120258615678525440,1120240313484959744,2019-04-22 09:30:42+00:00,and i did give both amnety and hws statements ...

In [53]:
replies_feb_2019 = replies[(replies['created_at'].dt.month == 2) & (replies['created_at'].dt.year == 2019)].copy()

In [54]:
replies_feb_2019.drop(columns='Unnamed: 0', inplace=True)

In [55]:
replies_feb_2019.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26961 entries, 36 to 3496374
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               26961 non-null  int64
 1   conversation_id  26961 non-null  int64
 2   created_at       26961 non-null  datetime64[ns, UTC]
 3   text             26931 non-null  object
dtypes: datetime64[ns, UTC](1), int64(2), object(1)
memory usage: 1.0+ MB

In [56]:
replies_feb_2019.sort_values(by='created_at', ascending=True, inplace=True)

In [57]:
replies_feb_2019.head()

,id,conversation_id,created_at,text
106617,1091124425456578562,1090610792259600384,2019-02-01 00:01:49+00:00,you did not travel there by plane
107817,1091124695829790720,1090922764586733571,2019-02-01 00:02:54+00:00,looks like this phenomenon has always happened...
107035,1091124765945819137,1091100637566099456,2019-02-01 00:03:10+00:00,i took it for a drive nice car i am not a mass...
3492757,1091124830257274880,1090869895598915584,2019-02-01 00:03:26+00:00,Venn diagram:
3492637,1091125087212777473,1091100637566099456,2019-02-01 00:04:27+00:00,Nee gethu Pannu AOC!

In [58]:
replies_feb_2019.tail()

,id,conversation_id,created_at,text
3495643,1101270493754208259,1100155040839487489,2019-02-28 23:58:40+00:00,U dumb fucktard
136715,1101270588180582402,1101265867353018368,2019-02-28 23:59:03+00:00,shriver unaware we are already importing much ...
131281,1101270664588288000,1098626225201922049,2019-02-28 23:59:21+00:00,keep laptops amp all wireless fa away from u a...
136870,1101270692002217984,1101215748305944576,2019-02-28 23:59:28+00:00,actually it makes you more easy to dismiss kee...
137278,1101270726844264448,1101176583912599552,2019-02-28 23:59:36+00:00,thank you priya now i just have to write it

In [59]:
tweet_ids = replies_feb_2019['conversation_id'].unique()

In [60]:
len(tweet_ids)

4094

In [84]:
import re

def extract_tweet_id(filename):
    match = re.search(r'txt_(\d+)_', filename)
    return match.group(1) if match else None

In [85]:
tweet_texts = {}
tweets_directory = '/work/ptyagi/ClimateVisions/Tweet_Text/2019/02_February'

for filename in os.listdir(tweets_directory):
    tweet_id = extract_tweet_id(filename)
    if tweet_id:
        file_path = os.path.join(tweets_directory, filename)
        if os.path.exists(file_path):
            with open(file_path, 'r') as file:
                tweet_texts[int(tweet_id)] = file.read()

In [88]:
len(tweet_texts)

57973

In [114]:
tweet_replies_feb_2019 = replies_feb_2019.copy()

In [115]:
tweet_replies_feb_2019['tweet_text'] = replies_feb_2019['conversation_id'].map(tweet_texts)

In [116]:
tweet_replies_feb_2019.dropna(subset='tweet_text', inplace=True)

In [117]:
len(tweet_replies_feb_2019['conversation_id'].unique())

1776

In [118]:
tweet_replies_feb_2019.head()

,id,conversation_id,created_at,text,tweet_text
2897336,1091463512109563904,1091461450076430336,2019-02-01 22:29:14+00:00,"Climate is a cultural issue, says an expert. I...",Piola. Como las mamás: Antes los veranos en Sa...
3494624,1091717834860826624,1091717129995542528,2019-02-02 15:19:49+00:00,Go Trump!!,Energy Insider: Exploring the impact of winter...
2673599,1092175359326539781,1092171401648369665,2019-02-03 21:37:51+00:00,In addition to the considerable amounts of ele...,Also. Frage an die #Grünsozialisten. Wenn 2018...
2673598,1092175661656141824,1092171401648369665,2019-02-03 21:39:04+00:00,"For future e-cars, charging stations in compan...",Also. Frage an die #Grünsozialisten. Wenn 2018...
2897754,1092518025574731778,1092116835330416645,2019-02-04 20:19:29+00:00,Many people who go to the forest of Aragon do ...,¿How can the wetlands fight the climate change...

In [119]:
tweet_replies_feb_2019.query("conversation_id == 1092171401648369665")['text'].to_list()

['In addition to the considerable amounts of electricity that are already being exported abroad, new gas-fired power plants in Germany have been shut down because the operators prefer to keep dirty lignite-fired power plants running.',
 'For future e-cars, charging stations in company car parks are ideal, where the cars can be charged with solar energy during the day between the start of work and the end of the day.']

In [120]:
tweet_replies_feb_2019.query("conversation_id == 1092171401648369665")['tweet_text'].to_list()

['Also. Frage an die #Grünsozialisten. Wenn 2018 D Netto Stromexporteur war und jetzt von 2020-2030 sowohl #Kohle als Kernstrom Weg fällt, woher beziehen wir dann den Strom für den obligatorischen #Tesla ?#Klimawandel #climatechange #climatestrike #FridaysForFuture https://t.co/DLwKWmD1pl',
 'Also. Frage an die #Grünsozialisten. Wenn 2018 D Netto Stromexporteur war und jetzt von 2020-2030 sowohl #Kohle als Kernstrom Weg fällt, woher beziehen wir dann den Strom für den obligatorischen #Tesla ?#Klimawandel #climatechange #climatestrike #FridaysForFuture https://t.co/DLwKWmD1pl']